<ul>
<% for(var i=0; i<buildings.length; i++) {%>
	<a href="<%- '/buildings/'+ buildings[i].id %>">
   		<li><%= buildings[i].id %> ==> <%= buildings[i].name %> - <%= buildings[i].address %></li>
	</a>
<% } %>
</ul>