<% layout('layout')  -%>
<h1>Create a building</h1>
<form action="/buildings" method="POST">
    <label>Name: </label><input type="text" name="name"><br>
    <label>address: </label><input type="text" name="address"><br>
    <input type="submit" value="submit">
</form>