<% layout('layout') -%>
<h1>Create building:</h1>
<form action="/api/buildings" method="POST">
    <div class="form-group row">
        <label for="inputName" class="col-sm-2 form-control-label">Name</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" name="name">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputAddress" class="col-sm-2 form-control-label">Address</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputAddress" name="address">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 form-control-label">Town</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword3" name="town">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputLat" class="col-sm-2 form-control-label">Latitude</label>

        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputLat" name="lat">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputLong" class="col-sm-2 form-control-label">Longitude</label>

        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputLong" name="long">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
    </div>
</form>