<% layout('layout') -%>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Administration</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        <p>
            <a href="/notif" class="btn btn-primary">Push notification</a>
            <a href="/buildings" class="btn btn-primary">List buildings</a>
            <a href="/buildings/new" class="btn btn-primary">Create builings</a>
        </p>
    </div>
</section>
