<% layout('layout') -%>
<!--<form action="/api/buildings/1/calendar" method="POST" enctype="multipart/form-data">-->
<form action="/api/buildings/<%- id%>/calendar" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="submit">
</form>